.theme .theme-content {
  color: #fff;
  font-family: "Poppins";
}

.theme:hover .theme-content {
  opacity: 1;
}

.theme .title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-top: 15px;
}
